fastapi==0.135.2
uvicorn==0.46.0
akshare==1.18.57
python-dotenv==1.0.1
numpy==2.4.4
pandas==2.3.3
opencv-python-headless==4.13.0.92
pytesseract==0.3.13
baostock==0.9.1
aiohttp==3.13.3
psycopg2-binary==2.9.11
pydantic[email]==2.12.5
APScheduler==3.11.2
python-jose[cryptography]==3.5.0
python-multipart==0.0.22
passlib[bcrypt]==1.7.4
redis==5.3.0
weasyprint==68.1
Markdown==3.10.2
pypandoc==1.17
markdown2==2.5.5
fpdf==1.7.2
reportlab==4.4.10
